{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SnipBoard</title>
  <link
  rel="icon"
  type="image/png"
  href="https://dl.dropboxusercontent.com/s/o093y16u4d3kojv/code.png?dl=0"
/>
<!-- Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0"
/>
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link rel="shortcut icon"
    href="https://icons.iconarchive.com/icons/thehoth/seo/256/seo-web-code-icon.png"
    type="image/x-icon">
  <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>


<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
      <a class="nav-item nav-link" style="font-size: x-large;color:white" href="{% url 'home' %}"
            ><span style="color: rgb(2, 141, 233); margin-right:5px;margin-left:-5px">{</span>Code Share
            <span style="color: rgb(2, 141, 233); margin-right:5px;margin-left:-5px"><span style="font-size: large;"></span>}</span>
        </a>
          </b></a>
      <a class="navbar-brand ml-4 mr-4" href="{% url 'home' %}"><b></b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <img src="{% static 'h.png' %}" style="height:20px; width:20px; margin-top: 10px;" />
          <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          {% if user.is_authenticated %}
          <img src="{% static 'link.png' %}" style="height:15px; width:15px; margin-top: 13px;" />
          <a class="nav-item nav-link" href="{% url 'users_list' %}"
            >Add New Connection</a
          >
          <img src="{% static 'net1.png' %}" style="height:20px; width:20px; margin-top: 10px;" />
          <a class="nav-item nav-link" href="{% url 'friend_list' %}"
            >Your Network</a
          >
          <img src="{% static 'p.png' %}" style="height:10px; width:10px; margin-top: 15px;" />
          <a class="nav-item nav-link" href="{% url 'my_profile' %}">Profile</a>
          <a class="nav-item nav-link" href="{% url 'snip_index' %}"
            ><span style="color: rgb(2, 141, 233); margin-right:5px;margin-left:-5px">{ }</span>Create Snippet</a
          >
          {% endif %}
          {% block searchform %}{% endblock searchform %}
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if user.is_authenticated %}
          <a
            class="nav-item nav-link btn btn-outline-danger ml-4 text-light"
            href="{% url 'logout' %}"
            >Logout</a
          >
          {% else %}
          <a
            class="nav-item nav-link btn btn-success ml-4 text-light"
            href="{% url 'login' %}"
            >Login</a
          >
          <a
            class="nav-item nav-link btn btn-info ml-3 text-light"
            href="{% url 'register' %} "
            >Register</a
          >
          {% endif %}
            <!-- {% if user.is_authenticated %}
            <a class="button is-warning is-rounded" href="javascript:{document.getElementById('logout').submit()}" style="font-weight: 700;">Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden" />
            </form>
            {% endif %} -->
          </div>
        </div>
      </div>
    </nav>

  <div class="container" style="margin-top: 50px;">
    <div class="block">



      <div class="columns">
        <div class="column is-three-quarters main">
          <div class="container">
            <div class="is-block">
              {% block content %}

              {% endblock %}
            </div>
          </div>
        </div>

        <div class="column is-one-quarter sidebar" style="margin-left: 40px ;">
          <article class="panel is-info">
            <p class="panel-heading">
              All Code Snippets
            </p>
            <!-- <p class="panel-tabs">
              <a>All</a>
              <a>Public</a>
              <a>Private</a>
            </p> -->
            <div class="panel-block">
<style>
    .searchform input{
  margin: 10px !important;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  }

  .asteriskField {
    display: none;
}

</style>
              <form method="POST" class="uniForm searchform is-left" style="font-weight: 700 !important;">
                {% csrf_token %}
                {{ searchform|crispy }}
              </form>
              <button class="button is-info is-small is-rounded is-right" style="margin-top: 22px; margin-left: 20px;">Submit</button>
            </div>

            {% for i in snips %}

            <a class="panel-block" href="{% url 'search_post_by_id'%}?id={{i.id}}">
              <span class="panel-icon is-left">
                <i class="fas fa-laptop-code">&nbsp; &nbsp;</i>
              </span>{{i.title}}
            </a>
            {% endfor %}

          </article>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/prism.js' %}"></script>
</body>

</html>